<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nhận diện văn bản</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/detect.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <img class="bg-image" src="../static/assest/bg.png" alt="" />
      <div class="title">SỬ DỤNG KNN</div>
      <div class="item-list">
        <div class="left-item">
          <div class="content-title">Chọn ảnh</div>
          <div class="content-detail">
            <form method="post" , enctype="multipart/form-data">
              <input type="file" , name="file" />
            </form>
          </div>
        </div>
        <div class="right-item">
          <div class="content-title">Kết quả</div>
          <div class="content-detail"></div>
        </div>
      </div>
      <div class="return-button" onclick="redirectToHome()">< Trở lại</div>
    </div>
    <script>
      function redirectToHome() {
        window.location.href = "/";
      }
    </script>
  </body>
</html>
